@model Modulo5_3_JhonR.Models.Doctor

@{
    Layout = "_Layout";
}

@{
    ViewData["Title"] = "Editar Doctor";
}

<div class="row">
    <div class="col-md-6 offset-md-3">
        <div class="card mt-4">
            <div class="card-body">
                <h3 class="mb-3">Editar Doctor</h3>

                <form asp-action="Edit" method="post">
                    <input type="hidden" asp-for="Id" />

                    <div class="mb-3">
                        <label asp-for="FullName" class="form-label"></label>
                        <input asp-for="FullName" class="form-control" />
                        <span asp-validation-for="FullName" class="text-danger"></span>
                    </div>

                    <div class="mb-3">
                        <label asp-for="Email" class="form-label"></label>
                        <input asp-for="Email" class="form-control" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>

                    <div class="mb-3">
                        <label asp-for="PhoneNumber" class="form-label"></label>
                        <input asp-for="PhoneNumber" class="form-control" type="number"/>
                        <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <label class="form-label fw-semibold">Especialidad</label>
                        <select name="Speciality" class="form-select ">
                            <option value="General">Medicina General</option>
                            <option value="Cardiologia">Cardiología</option>
                            <option value="Dermatologia">Dermatología</option>
                        </select>
                    </div>

                    <button type="submit" class="btn btn-primary w-100">Guardar cambios</button>
                    <a asp-action="Index" class="btn btn-secondary w-100 mt-2">Cancelar</a>
                </form>
            </div>
        </div>
    </div>
</div>